In [1]:
import pandas as pd

In [2]:
weather = pd.read_csv("../Data/Mythenquai_anually.csv")
soil = pd.read_csv("../Data/saugspannung_agg.csv")
water = pd.read_csv("../Data/waterdata_agg.csv")

In [3]:
water

,datetime,Pegel Zurichsee,Pegel Obersee,Abfluss Linth,Pegel Linth,Wasser_temp Linth,Abfluss Limmat,Pegel Limmat
0,2000-01-01 01:00:00+01:00,405.895,NaN,32.736,418.304,5.76,95.552,400.357
1,2000-01-01 02:00:00+01:00,405.894,NaN,32.652,418.303,5.77,95.328,400.355
2,2000-01-01 03:00:00+01:00,405.892,NaN,32.568,418.301,5.77,95.103,400.353
3,2000-01-01 04:00:00+01:00,405.890,NaN,32.484,418.299,5.77,94.879,400.351
4,2000-01-01 05:00:00+01:00,405.889,NaN,32.400,418.297,5.78,91.242,400.321
...,...,...,...,...,...,...,...,...
200466,2022-11-13 20:00:00+01:00,405.993,405.952,24.536,418.126,11.56,47.158,399.874
200467,2022-11-13 21:00:00+01:00,405.992,405.953,24.480,418.125,11.53,46.808,399.870
200468,2022-11-13 22:00:00+01:00,405.992,405.952,24.341,418.121,11.51,46.750,399.869
200469,2022-11-13 23:00:00+01:00,405.992,405.950,24.295,418.120,11.51,46.552,399.867
200470,2022-11-14 00:00:00+01:00,405.992,405.950,24.246,418.119,11.52,46.524,399.867

In [5]:
weather

,datetime,air_temperature,water_temperature,wind_gust_max_10min,wind_speed_avg_10min,wind_force_avg_10min,wind_direction,windchill,barometric_pressure_qfe,dew_point,humidity,water_level,precipitation,global_radiation,change_rate
0,2007-04-22 21:00:00+02:00,18.075000,15.200000,1.100000,0.450000,0.450000,226.500000,18.075000,973.675000,5.000000,41.750000,405.94,0.0,12.0,NaN
1,2007-04-22 22:00:00+02:00,16.850000,15.333333,1.350000,0.916667,0.916667,159.000000,16.850000,974.083333,6.716667,51.000000,405.94,0.0,18.0,0.0
2,2007-04-22 23:00:00+02:00,15.250000,15.216667,1.266667,0.633333,0.633333,171.166667,15.250000,974.533333,7.733333,60.666667,405.94,0.0,18.0,0.0
3,2007-04-23 00:00:00+02:00,14.383333,15.233333,1.616667,1.100000,1.100000,174.000000,14.383333,975.066667,8.250000,66.833333,405.94,0.0,18.0,0.0
4,2007-04-23 01:00:00+02:00,13.666667,15.183333,1.616667,1.183333,1.183333,165.000000,13.666667,975.316667,7.833333,67.666667,405.94,0.0,18.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128808,2021-12-31 20:00:00+01:00,7.400000,NaN,4.266667,3.383333,2.666667,153.333333,4.450000,1027.750000,6.200000,92.166667,NaN,0.0,0.0,0.0
128809,2021-12-31 21:00:00+01:00,6.733333,NaN,2.883333,2.116667,2.000000,165.333333,5.633333,1027.916667,5.933333,94.500000,NaN,0.0,0.0,0.0
128810,2021-12-31 22:00:00+01:00,6.666667,NaN,2.150000,1.283333,1.166667,134.166667,6.483333,1028.416667,5.866667,94.666667,NaN,0.0,0.0,0.0
128811,2021-12-31 23:00:00+01:00,6.233333,NaN,1.616667,0.766667,0.833333,148.166667,6.216667,1028.983333,5.533333,95.500000,NaN,0.0,0.0,0.0
128812,2022-01-01 00:00:00+01:00,5.900000,NaN,1.600000,1.100000,1.000000,145.000000,5.900000,1029.100000,5.300000,96.000000,NaN,0.0,0.0,0.0

In [6]:
df_merged = pd.merge(pd.merge(soil, weather, how="left", on="datetime"), water, how="left", on="datetime")
df_merged

,datetime,WÃ¤denswil (20cm),WÃ¤denswil (40cm),WÃ¤denswil (70cm),air_temperature,water_temperature,wind_gust_max_10min,wind_speed_avg_10min,wind_force_avg_10min,wind_direction,...,precipitation,global_radiation,change_rate,Pegel Zurichsee,Pegel Obersee,Abfluss Linth,Pegel Linth,Wasser_temp Linth,Abfluss Limmat,Pegel Limmat
0,2012-01-01 01:00:00+01:00,0.50,0.60,1.000,7.516667,5.9,4.783333,2.516667,2.516667,194.333333,...,0.1,0.0,0.000008,405.877,405.850,29.328,418.226,6.16,134.098,400.669
1,2012-01-01 02:00:00+01:00,0.60,0.70,1.000,7.333333,5.9,5.266667,3.266667,3.266667,179.666667,...,0.0,1.0,0.000016,405.883,405.855,29.543,418.231,6.17,143.515,400.732
2,2012-01-01 03:00:00+01:00,0.70,0.80,1.200,9.116667,5.9,6.316667,2.650000,2.650000,216.000000,...,0.0,9.0,0.000004,405.887,405.857,29.741,418.236,6.17,158.646,400.830
3,2012-01-01 04:00:00+01:00,0.80,0.80,1.200,9.716667,5.9,6.900000,2.900000,2.900000,216.000000,...,0.0,8.0,0.000016,405.891,405.858,30.058,418.243,6.18,165.654,400.874
4,2012-01-01 05:00:00+01:00,1.00,0.90,1.300,9.966667,5.9,8.050000,3.366667,3.366667,218.166667,...,0.0,2.0,0.000004,405.894,405.858,30.277,418.249,6.18,163.086,400.858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73844,2021-12-30 21:00:00+01:00,2.37,2.55,5.505,9.900000,NaN,1.883333,1.416667,1.333333,168.500000,...,0.0,0.0,0.000000,405.953,405.926,49.147,418.675,6.96,149.153,400.736
73845,2021-12-30 22:00:00+01:00,2.40,2.58,5.525,9.216667,NaN,2.500000,2.016667,2.000000,168.500000,...,0.0,0.0,0.000000,405.954,405.928,49.756,418.687,6.93,149.750,400.740
73846,2021-12-30 23:00:00+01:00,2.44,2.61,5.535,8.583333,NaN,2.366667,1.850000,2.000000,161.500000,...,0.0,0.0,0.000000,405.955,405.927,50.410,418.700,6.91,149.250,400.737
73847,2021-12-31 00:00:00+01:00,2.50,2.64,5.560,8.750000,NaN,2.250000,1.750000,1.666667,152.666667,...,0.0,0.0,0.000000,405.956,405.924,51.048,418.713,6.89,147.866,400.728
73848,2021-12-31 01:00:00+01:00,2.56,2.67,5.595,8.300000,NaN,2.583333,1.916667,1.833333,160.666667,...,0.0,0.0,0.000000,405.957,405.923,51.640,418.724,6.88,145.627,400.713

In [8]:
df_merged.to_csv("../Data/merged_data.csv", index=False)